*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body *{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
/* Tool start  */
.tools .tools__title{
    color: #DC4F72;
}
.tools__coverCard .card{
    background-color: #f9f9f9;
    border: none;
    transition: 1s;
}
.tools__coverCard .card:hover{
    background-color:#ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(-10px);

}
.tools__coverCard .card__icon{
    color: #DC4F72;
}
.tools__coverCard .card-title{
    font-weight: 800;
    font-size: 28px;
}
/*tool end */

/* about start */
.about{
    background-color: #F7F9FC;
}
.about__text .text__title{
color: #DC4F72;
}
.about__text button{
    color: white;
    background-color: #DC4F72;
    height: 60px;
    width: 150px;
    transition: 1s;
}
.about__text button:hover{
    background-color: #D62F58;
    color: white;
}
.about__img img {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 1s;
}
.about__img img:hover{
    transform: translateY(-20px);
}
